body {
    background-color: #101720;
}

form {
    padding: 50px;
    border: 4px solid lightgreen;
    border-radius: 20px;
}

input {
    font-size: 18px;
    padding: 8px 12px;
    border-width: 8px;
}

form:invalid {
    border-color: yellow;
}

input:invalid {
    border-color: red;
}